body {
    background-image: url('https://images.pexels.com/photos/239853/pexels-photo-239853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.Formu{
    padding: 10px;
    margin-top: 30px;
    margin-left: 100px;
    border: solid 1px white;
    width: 700px;
    height: 700px;
    color: white;
}

.Formu input{
    margin-left: 100px;
}