*{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
    background-color: #B6D5FD;
    color: #fafafa;
}

#formulario-historia{
    margin-top: 30px;
    padding: 10px 0px;
    
}

.tamano{
    font-size: 40px;
    font-weight: bold;
}

#formulario-contenedor{
    margin-top: 50px;
    width: 70%;
    transition: all ease .4s;
    color: #34547D;
}
.archivo{
    margin-bottom: 10px;
    border: none;
    outline: none;
    
}
#formulario-contenedor.active{
    margin-top: 264px;

}

#cuadros-contenedor{
    width: 70%;
}

.cuadro-texto{
    margin-bottom: 10px;
    border: none;
    outline: none;
    
    background: transparent;
    border-bottom: 1px #78788c solid;
}

#guardar{
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #4AF655;
}

#registro{
    background: #fafafa;
}



