body{
   background-image: url('https://images.pexels.com/photos/1084586/pexels-photo-1084586.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   

}

.justify-content-end{
    background: white;
    transition: 3s;
}
.justify-content-end:hover{
    height: 50px;
    transition: 10s;
}